.schedule {
  min-height: 80vmin;
}

.scheduleHeader {
  width: 100%;
  height: 70vmin;
  background-image: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0.2) 30%
    ),
    url(../../images/schedule-img.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 0 9rem 5rem;
}

.scheduleHeader > h1 {
  font-size: 3.2rem;
  color: #f1f1f1;
}

.scheduleHeader > p {
  color: #c7c7c7;
}

.scheduleContent {
  margin: -6rem 5rem 2rem 5rem;
  background-color: white;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.eventsTable {
  border-collapse: collapse;
}

.tableHead > tr > th {
  background-color: var(--olympic-yellow);
}

.tableHead > tr > th,
.tableBody > tr > td {
  padding: 20px;
  border: 2px solid black;
}

.games {
  flex: 0.7;
}

.countries {
  flex: 0.3;
}
